

<div class="app-shell">
  <aside class="shell-side">
    <p>menu gauche</p>
  </aside>

  <main class="shell-main">
    <section class="screen-section">
      <h1>C3C Portfolio</h1>
      <p>Angular 21 fonctionne ✨</p>
    </section>
  </main>
</div>

<div class="app-shell">
  <aside class="shell-side">
    <app-left-side-nav />
    <app-language-switcher />
  </aside>

  <main class="shell-main">
    <div class="background-scene"></div>
    <app-hero-section />
    <app-about-section />
    <app-services-section />
    <app-projects-section />
    <app-journey-section />
    <app-contact-section />
  </main>
</div>
