:host {
  position: relative;
}

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: default;

  h3 {
    position: absolute;
    top: 50%;
    text-shadow: var(--shadow-border-fuchsia);
    transform: translateY(-50%);
    transition: var(--tr-fast);
  }

  img {
    //width: 160px;
    opacity: 0.9;
    transition: .2s .02s linear;
  }

  &:hover {
    h3 {
      top: 90%;
      color: var(--accent-color);
      text-shadow: var(--shadow-border-white);
    }

    p {
      display: flex;
    }

    img {
      opacity: .24;
    }
  }
}

.block-arrow {
  position: absolute;
  width: 84px;
  opacity: .6;

  &.left-b {
    &.top-b {
      right: -72%;
      bottom: -48px;
      width: 96px;
      transform: rotate(180deg);
    }

    &.bot-b {
      top: -24px;
      right: -48%;
      transform: rotate(112deg);
    }
  }

  &.right-b {
    &.top-b {
      bottom: -24px;
      left: -60%;
      transform: rotate(-60deg);
    }

    &.bot-b {
      top: -36px;
      left: -48%;
    }
  }
}
