.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: default;

  h3 {
    position: absolute;
    top: 50%;
    text-shadow: var(--shadow-border-fuchsia);
    transform: translateY(-50%);
    transition: var(--tr-fast);
  }

  img {
    width: 160px;
    opacity: 0.9;
    transition: .2s .02s linear;
  }

  &:hover {
    h3 {
      top: 90%;
      color: var(--accent-color);
      text-shadow: var(--shadow-border-white);
    }

    p {
      display: flex;
    }

    img {
      opacity: .2;
    }
  }
}
