/*********** BASE ***********/

body {
  font-family: var(--font-sans);
  color: var(--body-text);
  background-color: var(--body-color);
}

app-root {
  width: 100%;
}

a, button {
  transition: var(--tr);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    animation: none !important;
    transition: none !important;
  }
}
