/*********** LAYOUT ***********/
//container, grid, wrappers

/* PLACEHOLDERS */

//flex column
%flexcol {
  display: flex;
  flex-direction: column;
}
//flex block
%block {
  @extend %flexcol;
  align-items: center;
}
//block centered
%blockcentered {
  @extend %block;
  justify-content: center;
}
//full centered block
%fullcentered {
  @extend %blockcentered;
  width: 100%;
}
//grid block
%row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-3);
}

/* BLOCKS */

.container {
  @extend %fullcentered;
  height: 100%;
}

/* SCREENS LAYOUT */

.screen-section {
  @extend %fullcentered;
  position: relative;
  z-index: 1;
  min-height: 100dvh;
  max-height: 100dvh;
  scroll-snap-align: start;

  /* home content */
  .content {
    @extend %blockcentered;
    flex: 1;
    max-width: 100%;
    //height: 100svh;
  }

  /* pages header */
  .section-header {
    display: flex;
    position: relative;
    left: var(--sp-7);
    padding-top: var(--sp-7);

    img {
      position: absolute;
      z-index: 2;
    }
  }

  /* aside frame */
  .prop {
    @extend %block;
    align-self: center;
    gap: var(--sp-2);
    width: fit-content;
    padding-block: var(--sp-1);
    border-block: var(--border);
    border-color: var(--body-text);
    backdrop-filter: var(--back-f-blur-sm);
    text-shadow: var(--shadow-border-amethyst);

    h3 {
      font-size: 24px;

      span {
        font-size: 32px;
        letter-spacing: var(--tr-tighter);
        color: var(--accent-color);
        text-shadow: var(--shadow-border-white);
      }
    }

    p {
      text-align: center;
      font-size: 20px;
      letter-spacing: var(--tr-tiny);
    }
  }

  /* page content */
  .inner {
    @extend %flexcol;
    flex: 1;
    gap: var(--sp-4);
    max-height: 100%;
    overflow: hidden;
    padding-inline: var(--sidebar); /* prevent content from being hidden behind sidebar */
    padding-bottom: var(--footer-btn); /* prevent content from being hidden behind next button */
  }

  .wrapper {
    display: flex;
    flex: 1;
    overflow-y: scroll;
  }

  .scene {
    @extend %row;
  }

  /* next section btn */
  .next {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
    padding-bottom: 72px; /* space for cross button */
    transform: translateX(-50%);
  }
}

/* BLOCKS
.page-content {
  @extend %flexcol;
  gap: 2rem;
  width: min(1200px, calc(100% - 2rem));
  margin-inline: auto;
}
*/
