/*********** LAYOUT ***********/
//container, grid, wrappers

/* PLACEHOLDERS */

%flexcol {
  display: flex;
  flex-direction: column;
}

%block {
  @extend %flexcol;
  align-items: center;
}
//block centered
%blockcentered {
  @extend %block;
  justify-content: center;
}
//full centered block
%fullcentered {
  @extend %blockcentered;
  width: 100%;
}

/* BLOCKS */

.container {
  @extend %fullcentered;
  height: 100%;
}

.screen-section {
  @extend %fullcentered;
  position: relative;
  z-index: 1;
  min-height: 100dvh;
  //padding: 4rem 6rem;
  scroll-snap-align: start;

  .content {
    @extend %blockcentered;
    flex: 1;
    max-width: 100%;
    //height: 100svh;
  }

  .inner {
    @extend %flexcol;
    flex: 1;
    justify-content: center;
    gap: var(--sp-4);
    padding-inline: var(--sidebar); /* prevent content from being hidden behind sidebar */
    padding-bottom: var(--footer-btn); /* prevent content from being hidden behind next button */
  }

  .next {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    z-index: 10;
    transform: translateX(-50%);
  }
}

/* BLOCKS
//router content
.main {
  padding: var(--sp-3);
}
.page-content {
  @extend %flexcol;
  gap: 2rem;
}
.scene {
  display: flex;
  gap: 1rem;
}
.container {
  width: min(1200px, calc(100% - 2rem));
  margin-inline: auto;
}
//grid
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
*/
