/*********** RESET / NORMALIZE ***********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, label {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

button {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

input, select, textarea {
  font-family: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

img {
  vertical-align: middle;
  height: auto;

  &.img-responsive {
    width: 100%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
  display: none;
} */

// customized scrollbar (chrome)
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.30);
  border-radius: 10px;

  &:hover {
    background: rgba(0,0,0,.50);
    cursor: grab;
  }

  &:focus {
    cursor: grabbing;
  }
}
