/*********** RESET / NORMALIZE ***********/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-size: 16px;
  font-weight: normal;
}

ul, li {
  list-style: none;
}

a,
button,
input,
textarea,
select {
  font-family: inherit;
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;

  &.img-responsive {
    width: 100%;
  }
}
