/******************* TOKENS *******************/
//variables: couleurs, spacing, radius…

:root {
  /*---------------*/
  /* COLORS */ /* https://coolors.co/211240-3f336d-f1158f-22e1e5-ffffff-434b58-fae730-190d30-251747-2f2156 */
  /*---------------*/
  /* palette principale */
  --onyx:     #161616;
  --graphite: #2a2a2a;
  --dim-grey: #5e5e5e;
  --silver:   #bfbfbf;
  --white:    #ffffff;
  /*---------------*/
  --dark-amethyst:    #211240;
  --twilight-indigo:  #3f336d;
  --barbie-pink:      #f1158f; // rgb(241, 21, 143);
  --neon-ice:         #22e1e5;
  --bright-lemon:     #fae730;
  --charcoal-blue:    #434b58;
  /* design system */
  --body-text:    var(--white);
  --body-color:   var(--dark-amethyst);
  /*---------------*/
  --primary-color:    var(--dark-amethyst);
  --secondary-color:  var(--twilight-indigo);
  --accent-color:     var(--barbie-pink);
  --success-color:    var(--neon-ice);
  --alert-color:      var(--bright-lemon);
  --default-color:    var(--charcoal-blue);
  /*---------------*/ // @trier
  --accent-2: #9b5cff;
  --info:     #7b2cff; // rgb(123, 44, 255);
  --highlight:#ffd166;
  --warning:  #ffb84d;
  /******************/
  --bg-primary:   var(--primary-color);
  --bg-secondary: var(--secondary-color);
  --bg-default:   var(--default-color);

  --txt-primary:    var(--primary-color);
  --txt-secondary:  var(--secondary-color);
  --txt-default:    var(--default-color);

  --txt-soft:  rgba(203, 188, 233, 1); // #cbbce9;
  --txt-muted: rgba(203, 188, 233, .8);
  --txt-dark:  rgba(13, 6, 32, 1); // #0d0620;
/* */ // @trier
  --surface-1: rgba(20, 10, 45, 0.78); // #140a2d;
  --surface-2: rgba(33, 16, 69, 0.82); // #211045;
  --surface-3: rgba(49, 22, 92, 0.9); // #31165c;

  /*---------------*/
  /* LAYOUT */
  /*---------------*/
  --sidebar: 180px;
  //--sidebar-collapsed: 48px;
  //--sidebar-expanded: 256px;
  --footer-btn: 156px;
  //--footer-h: 60px;
  //--header-h: 84px;
  /*---------------*/
  /* SPACING */
  /*---------------*/
  --sp-0: 1rem; //16px
  --sp-1: .25rem; //4px
  --sp-2: .75rem; //12px
  --sp-3: 1.5rem; //24px
  --sp-4: 2.25rem; //36px
  --sp-5: 3rem; //48px
  --sp-6: 3.75rem; //60px
  --sp-7: 4.5rem; //72px
  --sp-8: 5.25rem; //84px

  /*---------------*/
  /* TRACKING */
  /*---------------*/
  --tr-tighter: -0.03em;
  --tr-tight: -0.01em;
  --tr-tiny: 0.01em;
  --tr-wide: 0.025em;
  --tr-wider: 0.04em;

  /*---------------*/
  /* BORDERS / SHADOWS */
  /*---------------*/
  --border: 1px solid var(--txt-muted);
  --border-strong: rgba(103, 64, 255, 0.45);

  --radius: 12px;
  --radius-xs: 2px;
  --radius-sm: 8px;
  --radius-md: 20px;
  --radius-lg: 28px;
  --radius-full: 999px;

  //--shadow: 0 10px 24px rgba(0,0,0,.10);
  //--shadow-soft: 0 4px 10px rgba(0,0,0,.08);
  --shadow-lg: 0 6px 12px rgba(18, 2, 46, .8); //#12022e
  --shadow-glow-pink:   0 0 24px rgba(255, 56, 199, 0.22);
  --shadow-glow-purple: 0 0 24px rgba(123, 44, 255, 0.12);
  --shadow-glow-blue:   0 0 24px rgba(35, 183, 255, 0.2);

  --shadow-border-white:
  1px 0px 0px var(--white),
  1px 1px 0px var(--white),
  1px -1px 0px var(--white),
  -1px 1px 0px var(--white),
  -1px 0px 0px var(--white),
  -1px -1px 0px var(--white),
  0px 1px 0px var(--white),
  0px -1px 0px var(--white);

  --shadow-border-fuchsia:
  1px 0px 0px var(--accent-color),
  1px 1px 0px var(--accent-color),
  1px -1px 0px var(--accent-color),
  -1px 1px 0px var(--accent-color),
  -1px 0px 0px var(--accent-color),
  -1px -1px 0px var(--accent-color),
  0px 1px 0px var(--accent-color),
  0px -1px 0px var(--accent-color);

  --shadow-border-amethyst:
  1px 0px 0px var(--primary-color),
  1px 1px 0px var(--primary-color),
  1px -1px 0px var(--primary-color),
  -1px 1px 0px var(--primary-color),
  -1px 0px 0px var(--primary-color),
  -1px -1px 0px var(--primary-color),
  0px 1px 0px var(--primary-color),
  0px -1px 0px var(--primary-color);

  --back-f-blur: blur(12px);
  --back-f-blur-sm: blur(4px);

  /*---------------*/
  /* TRANSITIONS */
  /*---------------*/
  --tr-fast: .1s ease-in-out;
  --tr: .24s ease;
}

/*
  --page-padding-x: clamp(1.25rem, 4vw, 4rem);
  --page-padding-y: clamp(1.5rem, 4vw, 3rem);
*/
