/*************** TYPOGRAPHY ***************/
//fonts, tailles, line-height…

:root {
  --font-sans: "Oxygen", sans-serif;
  --font-mono: "Oxygen Mono", monospace;
}

/* FONTS */

// IMPORTS
// Adobe - Myriad Pro --> corporate font for baseline, auto switch to arial if not available
@import url("https://use.typekit.net/arm4sae.css");
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

// VARIABLES
$myriad: "myriad-pro", sans-serif;
$oxygen: "Oxygen", sans-serif;
$bubbler: "Bubbler One", sans-serif;
$mono: "Oxygen Mono", monospace;

/* TEXT */

// Sizes
$xs-txt: 12px;
$sm-txt: 14px;
$md-txt: 20px;
$lg-txt: 24px;
$xl-txt: 28px;
$xlg-txt: 32px;
$xxl-txt: 60px;

// Titles

.brand {
  font-family: "Luckiest Guy", cursive;
  font-size: 192px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-shadow: var(--shadow-lg);
}

// h1 => tagline
.tagline {
  font-family: "Amatic SC", sans-serif;
  font-size: $xxl-txt;
  line-height: 1;
  text-shadow: var(--shadow-lg);

  span {
    &:first-of-type {
      letter-spacing: var(--tr-tighter);
    }

    &:nth-of-type(2) {
      letter-spacing: var(--tr-wide);
    }

    &:last-of-type {
      letter-spacing: var(--tr-tiny);
    }
  }
}

h2 {
  font-family: $bubbler;
  font-size: $xlg-txt;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: $md-txt;
}

h4 {
  font-size: $md-txt;
}

// Other texts
label, .label {
  font-size: $sm-txt;
}

.subtitle {
  color: var(--text-soft);
  font-size: $sm-txt;
}

.subtext {
  font-size: $xs-txt;
  font-style: italic;
  color: var(--default-color);
}

.muted {
  font-size: $sm-txt;
  opacity: .7;
}

// Styles
@mixin brand-txt($style: italic) {
    font-family: $myriad;
    font-style: $style;
    font-weight: bold;
}

@mixin time-txt {
    font-family: $mono;
}
