:host {
  display: block;
  padding: var(--sp-3);
  background: linear-gradient(180deg, rgba(241, 21, 143, .24), rgba(123, 44, 255, 0.36));
  border: var(--border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-glow-purple);
  backdrop-filter: var(--back-f-blur);
/*
  &:hover {
    background: linear-gradient(135deg, var(--info) 0%, var(--accent-color) 55%, var(--success-color) 100%);
  }*/
}
