
/* PLACEHOLDERS */

%flexcol {
  display: flex;
  flex-direction: column;
}

%block {
  @extend %flexcol;
  align-items: center;
}

/* BLOCKS */

.hero {
  @extend %block;
  //justify-content: center;

  .tagline {
    @extend %block;
  }
}
