@use '../../../../../../styles/index' as *;

.hero {
  flex: 1;
  @include flexCenter;

  .brand {
    transform: translateY(-24px);
  }

  .tagline {
    @include flexAlign(column);
  }

  hr {
    &:first-of-type {
      top: 50%;
      width: 75%;
    }

    &:nth-of-type(2) {
      height: var(--sp-9);
      transform: translateY(-20px);
    }

    &:nth-of-type(3) {
      height: var(--sp-7);
      transform: translateY(12px);
    }

    &:last-of-type {
      left: 50%;
      height: 32px;
    }
  }
}
