<section id="home" class="screen-section" data-section appSectionAnchor sectionId="home">

  <div class="overlay" appParallaxLayer [speed]="0.08" axis="y"></div>

  <div class="content">
    <!-- <img src="assets/img/icons/logo.png" alt="logo c3c" width="80" /> -->
    <div class="hero">
      <hr class="absolute">
      <hr>
      <p class="brand">{{ title() }}</p>
      <h1 class="tagline">
        <span>{{ t('home.title.dev') }}</span>
        <span>{{ t('home.title.integration') }}</span>
        <span>{{ t('home.title.design') }}</span>
      </h1>
      <hr>
      <hr class="absolute">
    </div>
  </div>

  <div class="next">
    <app-next-section-button currentSectionId="home" labelKey="next.start" direction="none" customClass="btn-start" />
  </div>
</section>
