<article class="project-card glass-panel">

  <a class="card-link" [routerLink]="['/', lang, 'project', project.slug]">
    <img [src]="project.cover" [alt]="project.title" />
  </a>

  <div class="card-content">
    <!-- <p class="card-meta">{{ project.client }} · {{ project.period }}</p> -->
    <header class="card-header">
      <p class="card-meta">{{ project.client }}</p>
      <h5>
        <a [routerLink]="['/', lang, 'project', project.slug]">{{ project.title }}</a>
        <span>{{ project.subtitle }}</span>
      </h5>
    </header>

    <p class="card-summary">{{ project.summary }}</p>

    <ul class="card-tags">
      @for (tag of project.tags; track tag) {
        <li>{{ tag }}</li>
      }
    </ul>
  </div>

</article>
