@use '../../../../styles/index' as *;

.project-card {
  @include flex;
  //gap: var(--sp-4);
  position: relative;
}

hr {
  width: 2px;
  background: var(--accent-color);
}

.wire {
  hr {
    height: 60px;
  }
}

.wires {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 60px;
  transform: translateY(-8px);

  hr {
    height: 36px;
  }
}

:host {
  &:first-of-type {
    .wire {
      transform: translateX(60%);
    }
  }

  &:nth-of-type(2) {
    .wire {
      transform: translateX(52%);
    }
  }

  &:last-of-type {
    .wire {
      transform: translateX(64%);
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-2);
  padding: var(--sp-2);
  //background-color: var(--body-text);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transform: translateY(-8px);
}

.card-header {
  h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-family: var(--font-englebert);
    //font-weight: normal;
    white-space: nowrap;
    letter-spacing: var(--tr-wider);
    //color: var(--accent-color);

    span {
      text-transform: lowercase;
    }
  }
}

.tag-list {
  justify-content: center;
  width: 100%;
  padding-top: var(--sp-2);
  border-top: 1px solid var(--body-text);
}
