<article class="project-card">
  <div class="wire">
    <hr>
  </div>

  <app-card-screen [project]="project" [lang]="lang" [variant]="variant"></app-card-screen>

  <div class="wires">
    <hr>
    <hr>
  </div>

  <div class="card-content">
    <header class="card-header">
      <a [routerLink]="['/', lang, 'project', project.slug]">
        <h5>
          {{ project.title }}
          <span>{{ project.subtitle }}</span>
        </h5>
      </a>
    </header>

    <ul class="tag-list">
      @for (tag of project.tags; track tag) {
        <li>
          <app-chip-tag [tag]="tag" class="card-tag"></app-chip-tag>
        </li>
      }
    </ul>
  </div>
</article>
