<section id="journey" class="screen-section" data-section appSectionAnchor sectionId="journey">

  <div class="inner">

    <header class="section-header">
      <img src="assets/img/icons/arrow-straight.png" alt="arrow" />
      <h4>{{ t('journey.kicker') }}</h4>
      <button [routerLink]="['/', currentLang(), 'another-universe']">0</button>
    </header>

    <aside class="prop">
      <h3>{{ t('journey.title') }}</h3>
      <!-- <p class="h3">{{ t('journey.intro') }}</p> -->
    </aside>

    <div class="wrapper">
      <div class="scene">
        @for (item of items; track item.id) {
          <article class="journey-item glass-panel">
            <p class="item-period">{{ item.period }}</p>
            <h5>{{ item.title }}</h5>
            <p class="item-company">{{ item.company }}</p>
            <p>{{ item.summary }}</p>

            <ul>
              @for (tag of item.tags; track tag) {
                <li>{{ tag }}</li>
              }
            </ul>
          </article>
        }
      </div>
    </div>
  </div>

  <div class="next">
    <app-next-section-button currentSectionId="journey" labelKey="next.contact"/>
  </div>
</section>
