.screen-section {
  .section-header {
    display: flex;
    position: absolute;
    top: var(--sp-5);
    z-index: 2;

    h4 {
      transform: rotate(-4deg);
    }

    img {
      position: absolute;
      top: var(--sp-5);
      right: calc(-1 * var(--sp-3));
      width: 60px;
      opacity: .8;
    }
  }

  .visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateY(8%);
    pointer-events: none;

    .cut-out {
      display: block;
      max-height: 100%;
      opacity: 0.8;
      filter: drop-shadow(0 0 30px rgba(123, 44, 255, 0.35));
    }
  }

  .about-content {
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 100%;
    height: 100dvh;
    padding-inline: var(--sidebar); /* prevent content from being hidden behind sidebar */
    padding-block: var(--footer-btn); /* prevent content from being hidden behind next button */

    .in-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block: 4%;

      &.left-c {
        transform: translateX(-224%);
      }

      &.right-c {
        transform: translateX(224%);
      }
    }
  }

  .prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-2);
    position: absolute;
    transform: translateY(60%);
    z-index: 2;
    //max-width: 60ch;
    padding-bottom: var(--sp-1);
    border-block: var(--border);
    border-color: var(--body-text);
    //backdrop-filter: blur(12px);
    backdrop-filter: blur(4px);
    text-shadow: var(--shadow-border-amethyst);

    h3 {
      font-size: 24px;

      span {
        font-size: 48px;
        letter-spacing: var(--tr-tighter);
        color: var(--accent-color);
        text-shadow: var(--shadow-border-white);
      }
    }

    p {
      font-size: 20px;
      letter-spacing: var(--tr-tiny);

      &:first-of-type {
        span {
          font-size: 32px;
          text-shadow: var(--shadow-border-fuchsia);
        }
      }

      &:last-of-type {
        span {
          font-size: 28px;
          color: var(--info);
          text-shadow: var(--shadow-border-white);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .screen-section {
    //grid-template-columns: 1fr;

    .visual {
      right: -10%;
      bottom: 14%;
      width: 55vw;
      opacity: 0.22;
    }
  }
}
