<section id="about" class="screen-section" data-section appSectionAnchor sectionId="about">

  <div class="visual" appParallaxLayer [speed]="0.2" axis="y">
    <img src="assets/img/icec.png" alt="icec" />
  </div>

  <aside class="prop">
    <h4>{{ t('about.title') }}</h4>
    <p>{{ t('about.intro') }}</p>
    <p>{{ t('about.body') }}</p>
  </aside>

  <div class="about-content">
    <div class="left-c in-content">
      <app-skill-item [skill]="skillsById['poulpe']" />
      <app-skill-item [skill]="skillsById['xp']" />
    </div>
    <div class="right-c in-content">
      <app-skill-item [skill]="skillsById['brain-l']" />
      <app-skill-item [skill]="skillsById['brain-r']" />
    </div>
  </div>

  <div class="next">
    <app-next-section-button currentSectionId="about" />
  </div>
</section>
